<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鲜花库存管理系统-鲜花页面</title>
    <link rel="stylesheet" href="../css/flower.css">
    <link rel="stylesheet" href="../css/f_out.css">
    <link rel="shortcut icon" href="../img/logo.png"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
    <script src="../static/vue.js"></script>
</head>

<body>
<div class="sideBar">
    <div>
        <div class="tips">在线客服</div>
        <ul class="list">
            <li>tel:1846492969</li>
            <li>tel:1846492969</li>
        </ul>
    </div>
</div>
<!--顶部logo和标题-->
<div class="top">
    <a class="logo" href="../html/personalPage.html">
        <img src="../img/logo.png">
    </a>
    <div class="title">
        <h1>鲜花库存管理系统</h1>
    </div>
</div>
<!--下部主体区域-->
<div class="main" id="app">
    <div class="main-address">
        <img src="../static/address.svg" alt="" @click="getAddrssFun">
        <p>{{address}}</p>
    </div>
    <!--左部导航栏-->
    <div class="left">
        <ul>
            <li style="background-color: #b17aa1"><a href="../html/index1.html">鲜花</a></li>
            <li style="background-color: #a55199"><a href="../html/f_out1.html">折扣区</a></li>
            <li><a href="../html/f_in1.html">日销售量统计</a></li>
            <li><a href="../html/provider1.html">供应商</a></li>
            <li><a href="../html/input.html">入库</a></li>
            <li><a href="../html/user1.html">用户</a></li>
        </ul>
    </div>
    <!--右部主体区域-->
    <div class="right">
        <!--透明色背景-->
        <div class="right1">
            <!--搜索框-->
            <form class="getFlower">
                <div class="search">
                    <input type="text" id="idFlower" name="f_name" placeholder="根据鲜花名查询" v-model="flowerName">
                    <div class="search2" id="searchFlower" @click="queryFlower">
                        搜索
                    </div>
                </div>
            </form>
            <!--添加信息图标-->
            <div class="increase" id="showPopup">
                <img src="../img/添加.png" @click="openAddFun">
            </div>
            <div class="tableFlower">
                <div class="floor-item" v-for="(item, index) in goodsList" :key="index" id="floorItem">
                    <div class="item-img" @click="detailFun(item.f_id)">
                        <img :src="item.f_url" alt="">
                    </div>
                    <h6 class="item-title text-ellipsis">{{ item.f_name }}</h6>
                    <p class="item-content text-ellipsis">库存：{{ item.num }}</p>
                    <p class="item-price">{{ item.price }}元</p>
                    <div class="detele" @click="deleteFun(item.discountId)">删除</div>
                </div>
            </div>
            <!--弹出框-->
            <div id="overlay" v-show="showOverlay" v-cloak>
                <div class="popup">
                    <p class="popup_title">提示</p>
                    <p class="popup_content">请输入鲜花信息</p>
                    <form class="inseart_f">
                        <div class="zk">
                            <select class="zk-select" v-model="flower_id">
                                <option v-for="(item, index) in zkList" :key="index" :value="item.f_id">{{item.f_name}}</option>
                            </select>
                        </div>
                        <input type="text" placeholder="单价" name="current_price" id="price" v-model="detail.current_price" class="price1"></br>
                        <input type="text" placeholder="折扣" name="discount_score" id="discount_score" v-model="detail.discount_score" class="num1"></br>
                        <div class="popup_btn">
                            <button id="cancl1" class="cancelBtn" @click="cancelBtn">取消</button>
                            <button type="button" id="cancl2" class="increaseButton" @click="increaseButton">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--商品详情弹出框-->
        <div class="goods-detail" id="goods-detail" v-show="showDetail" v-cloak>
            <div class="header">
                <p class="goods_title">商品详情</p>
                <div class="close" id="close" @click="closeFun">×</div>
            </div>
            <div class="product-intro">
                <div class="preview-wrap">
                    <div class="banner-container">
                        <!-- 创建图片存储容器 -->
                        <div class="banner-img-container">
                            <img :src="floorDetail.f_url" alt="">
                            <img :src="floorDetail.f_url" alt="">
                            <img :src="floorDetail.f_url" alt="">
                            <img :src="floorDetail.f_url" alt="">
                            <img :src="floorDetail.f_url" alt="">
                        </div>
                    </div>
                </div>
                <div class="product-infor">
                    <h6 class="product-title">{{ floorDetail.f_name }}</h6>
                    <div class="product-introduce">主花材料:<span>卡布奇诺</span> | 款式:<span>花束</span></div>
                    <div class="product-price"><span class="price-icon">￥</span>{{ floorDetail.price }}</div>
                    <div class="product-line"></div>
                    <!-- <div class="address">配送 <span class="address-name">📍 北京市北京大学</span></div>
                    <div class="line"></div> -->
                    <ul class="btn-numbox">
                        <li><span class="number">数量</span></li>
                        <li>
                            <ul class="count">
                                <li @click="jianFun"><span id="num-jian" class="num-jian">-</span></li>
                                <li><input type="text" class="input-num" id="input-num" v-model="flowerNum" value="0" /></li>
                                <li @click="jiaFun"><span id="num-jia" class="num-jia">+</span></li>
                            </ul>
                        </li>
                        <li><span class="kucun">（库存：{{floorDetail.num}})</span></li>
                    </ul>
                    <div class="btn" @click="btnFun">立即购买</div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>



<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<!--<script type="module" src="../js/index1.js"></script>-->
<script type="module">
    import ajax from '../js/ajax.js'
    // import axios from 'axios';
    var vm = new Vue({
        el: '#app',
        data: {
            goodsList: [],
            showDetail: false,
            floorDetail: {
                num: '',
                price: '',
                f_url:'',
                f_id:''
            },
            flowerName: '',
            flowerNum: 0,
            showOverlay: false,
            userInfo: {
                avatar: ''
            },
            detail: {
                f_name: '',
                discount_score:'',
                current_price: ''
            },
            zkList:[],
            flower_id: '',
            address:''
        },
        mounted() {
            this.queryAllFlower();
            this.getAddrssFun();
        },
        methods: {
            queryAllFlower() {
                let data = [];
                const userId = localStorage.getItem("userId");
                axios.get("http://localhost:8080/listDiscount" + "?userId=" + userId + `&fName=`).then(res =>{
                    console.log(res.data)
                    this.goodsList = res.data;
                    console.log(this.flower_id)
                })
            },
            detailFun(val) {
                const u_au = localStorage.getItem("u_au");
                if (u_au == 1) {
                    return false;
                }
                this.showDetail = true;
                this.goodsList.map(item =>{
                    if (item.f_id === val) {
                        this.floorDetail = item;
                    }
                })

            },
            closeFun() {
                this.showDetail = false;
            },
            queryFlower() {
                const userId = localStorage.getItem("userId");
                axios.get("http://localhost:8080/listDiscount?fName=" + this.flowerName + "&userId=" + userId).then(res =>{
                    console.log(res.data)
                    this.goodsList = res.data;
                })
            },
            deleteFun(val) {
                this.showDetail = false;
                axios.get("http://localhost:8080/delDiscount?fId=" + val).then(res =>{
                    console.log(res.data)
                    this.goodsList = res.data;
                    alert('删除成功！')
                    location.reload();
                })
            },
            jianFun() {
                if (this.flowerNum > 0) {
                    this.flowerNum = this.flowerNum - 1
                }
            },
            jiaFun() {
                console.log(111)
                if (this.flowerNum < this.floorDetail.num) {
                    this.flowerNum = this.flowerNum + 1
                }
            },
            openAddFun() {
                this.showOverlay = true;
                this.getAllflower()
            },
            cancelBtn() {
                this.showOverlay = false;
            },
            getAllflower() {
                console.log(22)
                const userId = localStorage.getItem("userId");
                axios.get("http://localhost:8080/queryFlowerByUserId" + "?userId=" + userId).then(res =>{
                    console.log(res.data)
                    this.zkList = res.data;
                    this.flower_id = this.zkList[0].f_id;
                })
            },
            // 打开图片上传
            uploadHeadImg: function () {
                this.$el.querySelector('.hiddenInput').click()
            },
            // 将头像显示
            handleFile: function (e) {
                let $target = e.target || e.srcElement
                console.log(e, $target.files[0], 777)
                let file = $target.files[0]
                this.file = file;
                var reader = new FileReader()
                reader.onload = (data) => {
                    let res = data.target || data.srcElement
                    this.userInfo.avatar = res.result
                }
                reader.readAsDataURL(file)
            },
            increaseButton() {
                this.saveFlower()
            },
            saveFlower(val) {
                const userId = localStorage.getItem("userId");
                const u_id = localStorage.getItem("userId");
                this.zkList.map(item =>{
                    if (item.f_id === this.flower_id) {
                        this.detail.f_name = item.f_name;
                    }
                })
                let data = {
                    ...this.detail,
                    userId,
                    u_id,
                    f_id: this.flower_id
                }
                axios.post(`http://localhost:8080/addDiscount`, data).then(res =>{
                    console.log(res.data)
                    alert('新增成功！')
                    this.showOverlay = false;
                    location.reload();
                })
            },
            btnFun() {
                const data = {
                    f_id: this.floorDetail.f_id,
                    price:this.floorDetail.price,
                    num: this.flowerNum,
                    u_id: this.floorDetail.u_id
                }
                axios.post(`http://localhost:8080/orderFlower`, data).then(res =>{
                    console.log(res.data)
                    alert('您已成功下单，请您线下收货时进行面付！')
                })
            },
            getAddrssFun() {
                axios.get(`http://localhost:8080/getGeo`).then(res =>{
                    console.log(res.data)
                    const spaceIndex = (res.data).indexOf(' ');
                    if (spaceIndex !== -1) {
                        // 如果找到了空格，则返回空格之前的子字符串
                        this.address = (res.data).substring(0, spaceIndex);
                    } else {
                        // 如果没有找到空格，则返回原字符串
                        this.address = (res.data)
                    }
                })
            }
        }
    })
</script>

</html>